/public/
/resources/_gen/
/resources/cache/

.hugo_build.lock
hugo_stats.json

.DS_Store
Thumbs.db
*.swp
*~

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnpm-debug.log*

.env
.env.*
.netrc
